.header-container {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;

    .flex-box {

        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
        max-width: 1090px;
        height: 60px;
        margin: 0px auto;

        nav {
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;

            &.left-nav {
                gap: 40px;
            }

            &.right-nav {
                gap: 30px;

                .nav-list {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .style-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                        height: 40px;
                        padding: 4px 18px;
                        border-radius: 50px;
                        @include b-16;
                        line-height: 4rem;
                        cursor: pointer;
                        outline: none;
                        text-align: center;
                        border: 1.5px solid rgb(235, 240, 255);
                        background-color: rgb(235, 240, 255);
                        color: rgb(31, 65, 255);
                    }
                }
            }

            .logo {
                text-decoration: none;
                font-weight: bold;
                font-size: 1.6rem;
                color: black;
                border-bottom: none;
                cursor: pointer;
                outline: none;


                img {
                    width: 87px;
                    height: 18px;
                }
            }

            .nav-list {
                display: flex;
                gap: 30px;

                a {

                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.6rem;
                    color: rgb(0, 0, 0);
                    border-bottom: none;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
}