.login-container {
  position: relative;
  width: 100%;
  height: 100vh; // 전체 뷰포트 높이를 차지하도록 설정
  background-color: rgb(164, 144, 110);
  background-image: url("/images/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; // 세로 중앙 정렬
  justify-content: center; // 가로 중앙 정렬

  .login-form {
    background: rgba(255, 255, 255, 0.8); // 폼 배경에 투명도를 줘서 배경이 비추도록 설정
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px; // 폼의 너비 설정

    label {
      display: block;
      margin-bottom: 5px;
      color: rgb(0, 0, 0);
      font-size: 1.2rem;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; // padding과 border를 width와 height에 포함
    }

    button {
      width: 100%;
      padding: 15px 0;
      background-color: rgb(31, 65, 255); // 버튼 배경 색상
      color: white;
      border: none;
      border-radius: 50px;
      font-size: 1.6rem;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(rgb(31, 65, 255), 10%); // 호버 시 버튼 색상 어둡게 변경
      }
    }

    .social-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      button {
        width: 100%;
        padding: 10px 0;
        background-color: #FFEB3B; // 카카오톡 버튼 색상
        color: black;
        border: none;
        border-radius: 50px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(#FFEB3B, 10%); // 호버 시 버튼 색상 어둡게 변경
        }
      }
    }

    .signup-link {
      text-align: center;
      margin-top: 20px;

      a {
        color: rgb(31, 65, 255);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .error-label {
      color: red;
      font-size: 0.9rem;
      margin-top: -15px;
      margin-bottom: 15px;
    }
  }
}
